body {
    background: linear-gradient(rgb(250,250,250), rgb(204, 231, 248));    margin: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

h1 {
    font-size: 5.9vw;
}

h2 {
    font-size: 3.0vh;
}

p {
    font-size: 2.0vh;
}

a {
    color: black;
    } /* Globally*/

.siteheader {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: rgb(252, 252, 252);
    position:sticky;
    width: 100%;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .2);
    }

.italicsp {
    font-style: italic;
}

/* Header CSS Details */

.hc1 {
    text-decoration: none;
    border-right: 1px dotted black;
    text-align: center;
    margin: 5px;
    padding: 7px;
    font-size: 130%;
    font-weight: bold;
    }
.hc1:hover {
    text-decoration: underline black;
    background-color: rgb(204, 231, 248);
    transition: 2s;
    border: 1px dotted black;
    transition-timing-function: ease;
    border-radius: 25px;
    }

.hc2 {
    text-decoration: none;
    border-right: 1px dotted black;
    text-align: center;
    margin: 5px;
    padding: 7px;
    font-size: 130%;
    font-weight: bold;
    }

.hc2:hover {
    text-decoration: underline black;
    background-color: rgb(204, 231, 248);
    transition: 2s;
    border: 1px dotted black;
    transition-timing-function: ease;
    border-radius: 25px;
    }

.hc3 {
    text-decoration: none;
    border-right: 1px dotted black;
    text-align: center;
    margin: 5px;
    padding: 7px;
    font-size: 130%;
    font-weight: bold;
    }

.hc3:hover {
    text-decoration: underline black;
    background-color: rgb(204, 231, 248);
    transition: 2s;
    border: 1px dotted black;
    transition-timing-function: ease;
    border-radius: 25px;
    }

.hc4 {
    text-decoration: none;
    border-right: 1px dotted black;
    text-align: center;
    margin: 5px;
    padding: 7px;
    font-size: 130%;
    font-weight: bold;
    }

.hc4:hover {
    text-decoration: underline black;
    background-color: rgb(204, 231, 248);
    transition: 2s;
    border: 1px dotted black;
    transition-timing-function: ease;
    border-radius: 25px;
    }

.hc5 {
    text-decoration: none;
    text-align: center;
    margin: 5px;
    padding: 7px;
    font-size: 130%;
    font-weight: bold;
    }

.hc5:hover {
    text-decoration: underline black;
    background-color: rgb(204, 231, 248);
    transition: 2s;
    border: 1px dotted black;
    transition-timing-function: ease;
    border-radius: 25px;
    }

/* End of Header CSS*/

.h1 {
    text-align: center;
    letter-spacing: 5px;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    }

.st {
    border: 1px solid black;
    padding: 5px;
    }

/* Get In Contact Page*/

.contactcontainer {
    display: flex;
    margin: auto;
    margin-bottom: 3%;
    width: 100%;
    
}

.socialcontactdiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cfdiv {
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .2);
    }

.cfdiv p {
    border: 1px solid black; 
    padding: 3%;
    margin: 3px;
    border-radius: 25px;
    font-size: 100%;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .2);
}

.cfdiv:hover h2 {
    text-decoration: underline;
    font-style: italic;
}

.cf {
    margin: auto;
    padding: 3px;
    }

.smdiv {
    border: 1px solid black;
    margin: 5px;
    padding: 4px;
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .2);
    font-
    }

.smdiv h2 {
    text-align: center;
}

.smdiv:hover h2 {
    text-decoration: underline;
}

.smdiv a {
    text-decoration: none;
}

.smdiv a:hover {
    text-decoration: underline;
    font-style: italic;
}

.smdiv ul {
    list-style-type: none;
}

.contactdetsdiv {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .2);
    }

.contactdetsdiv h2{
    text-align: center;
}

.contactdetsdiv a {
    text-decoration: none;
}

.contactdetsdiv ul {
    list-style-type: none;
}

.contactdetsdiv a:hover{
    font-style: italic;
    text-decoration: underline;
}

.contactdetsdiv:hover h2 {
    text-decoration: underline;
}


/* Eo Get In Contact Page*/